<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="timminsConnectionString" connectionString="Data Source=snare.arvixe.com;Initial Catalog=timmins;User ID=timmins;Password=group4"
      providerName="System.Data.SqlClient" />
    <add name="timminsConnectionString1" connectionString="Data Source=snare.arvixe.com;Initial Catalog=timmins;Persist Security Info=True;User ID=timmins;Password=group4"
      providerName="System.Data.SqlClient" />
    <!--<add name="TimminsConnectionString2" connectionString="Data Source=snare.arvixe.com;Initial Catalog=Timmins;Persist Security Info=True;User ID=timmins;Password=group4"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <pages viewStateEncryptionMode="Always" theme="Theme1">
      <controls>
        <add tagPrefix="AJAX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>

    </pages>
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>



    <authentication mode="Forms"/>
    <membership defaultProvider="OnlineProvider">
      <!--Joel: adding the roles-->
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="timminsConnectionString" applicationName="/timmins" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="timminsConnectionString" applicationName="/timmins" />
      </providers>
    </roleManager>



    <!--Joel commented this out because its not working
    Sitemap provider-->
    <siteMap  enabled="true">
      <providers>

        <!--custom site maps Anja added april 8-->
        <add name="SqlSiteMapProvider" type="SqlSiteMapProvider" connectionString="Data Source=snare.arvixe.com;Initial Catalog=Timmins;Persist Security Info=True;User ID=timmins;Password=group4"
       providerName="System.Data.SqlClient" storedProcedure="GetSiteMap" cacheTime="100"/>
        <add name="AdminSiteMapProvider" type="SqlSiteMapProvider" connectionString="Data Source=snare.arvixe.com;Initial Catalog=Timmins;Persist Security Info=True;User ID=timmins;Password=group4"
      providerName="System.Data.SqlClient" storedProcedure="AdminGetSiteMap" cacheTime="10"/>
        <!-- end special -->


        <!--anja commented this out because she doesn't need it-->
        <!--<add name="main_nav" type="System.Web.XmlSiteMapProvider" siteMapFile="Main_nav.sitemap" />-->
        <add name="footer_nav" type="System.Web.XmlSiteMapProvider" siteMapFile="Footer_nav.sitemap" />
      </providers>
    </siteMap>
    
  </system.web>
  <system.net>
    <mailSettings>
<!--commented by harry and mail settings are added--> 
      <smtp from="timmins@sidhusweb.com">
        <network host="mail.snare.arvixe.com" port="587" userName="timmins@sidhusweb.com" password="group4"/>
      </smtp>
      <!--<smtp from="">
        <network host="localhost" password="" userName="" />
      </smtp>-->
    </mailSettings>
  </system.net>
</configuration>