<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Timmins" connectionString="Data Source=snare.arvixe.com;Initial Catalog=timmins;User ID=timmins;Password=***********"
      providerName="System.Data.SqlClient" />
    <add name="timminsConnectionString" connectionString="Data Source=snare.arvixe.com;Initial Catalog=timmins;User ID=timmins;Password=group4"
      providerName="System.Data.SqlClient" />
    <add name="timminsConnectionString1" connectionString="Data Source=snare.arvixe.com;Initial Catalog=timmins;Persist Security Info=True;User ID=timmins;Password=group4"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages viewStateEncryptionMode="Always" theme="Theme1"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <roleManager enabled="true" defaultProvider="OnlineProvider">
      <providers>
        <add connectionStringName="Timmins" name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" applicationName="/Assign1"/>
      </providers>
    </roleManager>
    <membership defaultProvider="OnlineProvider">
      <providers>
        <add connectionStringName="Timmins" name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="/Assign1"/>
      </providers>
    </membership>
    
    <!--Joel commented this out because its not working
    Sitemap provider 
    <siteMap defaultProvider="main_nav" >
      <providers>
        <clear />
        <add name="main_nav" type="System.Web.XmlSiteMapProvider" siteMapFile="Main_nav.sitemap" />
        <add name="footer_nav" type="System.Web.XmlSiteMapProvider" siteMapFile="Footer_nav.sitemap" />
      </providers>
    </siteMap> -->
    
    
    
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="localhost" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>