<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="timminsConnectionString" connectionString="Data Source=snare.arvixe.com;Initial Catalog=timmins;User ID=timmins;Password=group4"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages viewStateEncryptionMode="Always" theme="Theme1"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <membership defaultProvider="OnlineProvider">
      <!--Joel: adding the roles-->
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="timminsConnectionString" applicationName="/timmins" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="timminsConnectionString" applicationName="/timmins" />
      </providers>
    </roleManager>

   
    
   <!--Joel commented this out because its not working
    Sitemap provider--> 
    <siteMap defaultProvider="main_nav" >
      <providers>
        
        <!--custom site maps Anja added april 8-->
        <add name="SqlSiteMapProvider" type="SqlSiteMapProvider" connectionString="Data Source=50.97.99.169;Initial Catalog=anjag_sql;User ID=anjag_1;Password=_Computer1"
       providerName="System.Data.SqlClient" storedProcedure="GetSiteMap" cacheTime="100"/>
        <add name="AdminSqlSiteMapProvider" type="SqlSiteMapProvider" connectionString="Data Source=50.97.99.169;Initial Catalog=anjag_sql;User ID=anjag_1;Password=_Computer1"
      providerName="System.Data.SqlClient" storedProcedure="AdminGetSiteMap" cacheTime="100"/>
        
        <clear />
        <!--anja commented this out because its not working properly-->
     <add name="main_nav" type="System.Web.XmlSiteMapProvider" siteMapFile="Main_nav.sitemap" />
        <add name="footer_nav" type="System.Web.XmlSiteMapProvider" siteMapFile="Footer_nav.sitemap" />
      </providers>
    </siteMap> 
    
    
    
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="localhost" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>