@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);

#ticker 
{
    /*width:180px;
    height:300px;*/
    height: 326px;
    border:1px solid #aaaaaa;
    overflow:auto;
}

#ticker dt 
{
    font:normal 14px Georgia;
    padding:0 10px 5px 10px;
    /*background-color:#e5e5e5;*/
    padding-top:10px;
    border:1px solid #ffffff;
    border-bottom:none;
    border-right:none;
    position:relative;
}

#ticker dd 
{
    margin-left:0;
    font:normal 11px Verdana;
    padding:0 10px 10px 10px;
    border-bottom:1px solid #aaaaaa;
    /*background-color:#e5e5e5;*/
    border-left:1px solid #ffffff;
    position:relative;
}

#ticker dd.last 
{
    border-bottom:1px solid #ffffff;
}

#ticker div 
{
    margin-top:0;
}

body
{
    font-family: 'Source Sans Pro' , HelveticaNeueLT Pro 55 Roman, sans-serif;
    font-size: 14px;
    
}

a:hover
{
    color: #71afd4;
    text-decoration: underline;
}

#logo
{
    float: left;
    height: auto;
    max-width: 100%;
}

.hospital_img 
{
    

    border-left:5.5em solid #F0F8FF;
    border-right:5.5em solid #F0F8FF;
    
}



#maxcontainer
{
    width: 97%; /*border:2px solid blue;*/ /*  width:970px;     max-width:100%;     margin:0 auto;*/
}

#container
{
    /*border:1px solid red;*/
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

#main-quick-links
{
    margin: 5em auto 0 auto;
    width: 100%;
    height: 100%;
}

.quicklink h4
{
    color: Maroon;
    font-size: 1.1em;
}

.quicklink h4, .quicklink h5
{
    padding: 0px;
    margin: 0px;
}

.quicklink
{
    width: 96%;
    padding: 1em;
    margin: 0 .3em .5em .3em;
    background: rgb(161,201,221); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(161,201,221,1) 0%, rgba(221,241,249,1) 65%, rgba(254,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(161,201,221,1)), color-stop(65%,rgba(221,241,249,1)), color-stop(100%,rgba(254,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(161,201,221,1) 0%,rgba(221,241,249,1) 65%,rgba(254,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(161,201,221,1) 0%,rgba(221,241,249,1) 65%,rgba(254,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(161,201,221,1) 0%,rgba(221,241,249,1) 65%,rgba(254,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(161,201,221,1) 0%,rgba(221,241,249,1) 65%,rgba(254,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1c9dd', endColorstr='#feffff',GradientType=1 ); /* IE6-9 */
}

#header-container
{
    width: 100%;
    max-width: 980px;
    margin-left: 3em;
    max-height: 100%;
    height: 13%;
    margin: 0 auto; /* border:1px solid pink;*/
}


.img-logo
{
    float: left;
}


#header-text-container
{
    padding-top: 2.2%;
    max-width: 63%;
    float: left;
    margin-left: .5em; /*border:1px solid red;*/
    height: 100%;
}



.hospital-header
{
    display: inline-block;
    font-size: 3em;
    font-family: Impact, HelveticaNeueLT Pro 55 Roman;
    font-weight: bold;
}

.subheader
{
    font-family: "Trebuchet MS" , Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1em;
    padding-left: .5em;
}


#header-right
{
    max-width: 40%;
    padding-left: 3em;
    float: left;
    font-size: .85em;
     clear:both;
        padding: 0;
        margin: 0;
        float:right;
        position:relative;
        /*z-index:-1; Joel: commented this out because it hinders input from being entered and the button from being clicked on chrome and firefox*/
        top:-3em;
        border:1px solid green;
        padding-bottom:0px;
        margin-bottom:-2em;
}

#textsize
{
    max-width: 34%;
    font-size: .8em;
    vertical-align: middle;
    text-align: center;
    display: block;
}

#search
{
    max-width: 100%;
}

.search-bar
{
    width: 100%;
    max-width: 7em;
}

.search-button
{
    width: 30%;
    font-size: .9em;
}
.header-info
{
    width: 100%;
    text-align: left;
    vertical-align: middle;
    font-size: .85em;
}

.contact-header
{
    width: 100%;
    font-size: .8em;
}


.address
{
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.contact-header img
{
    max-width: 30%;
    vertical-align: middle;
}

/*.smalltext 
{   max-width:100%;
    text-align:center;
    vertical-align:middle;
    font-size:.8em;
}

.search
{
    max-width:100px;
    width:280%;
    height:1em;
    border:1px solid black;
}

.searchbutton
{
    font-size:.8em;
    max-width:40px;
    width:40%;
    margin-left:55%;
    
}

.contact
{ 
    width: 90%;
    height:60%;
    text-align:center;
    
}

.leftinfo 
{
    padding:0px;
    width:20%;
}

.rightinfo 
{
    font-weight:bold;
    font-size:.85em;
}
*/
.clearfloat
{
    float: none;
    clear: both;
}

#top-nav-bar img
{
}

#top-nav-bar
{
    margin-top: .5em;
    width: 98%;
    max-height: 100%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #800000;
    background: #71afd4; /* Old browsers */
    background: -moz-linear-gradient(top, #71afd4 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71afd4), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #71afd4 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #71afd4 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #71afd4 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #71afd4 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71afd4', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.top-nav-bar
{
    float: none;
    text-align: center;
    max-width: 980px;
    width: 95%;
    margin-right: 0 auto;
    margin-left: 2.6em; /*border:1px dotted blue;*/
}

.top-nav-bar a
{
    font-size: 1.4em;
    font-family: 'PT Sans' , sans-serif;
    color: #FFFFFF;
}

.top-nav-bar a:hover
{
    color: #9ed8fa;
}




/*.menuItem 
{
   color:Black;
      
   font-weight:bold;
   font-size:1.3em;
    border:1px solid blue;
padding:.7em 2em;
margin-right:.5em;
    border-right:1px solid black;
    width:80%;
    text-align:center;
    margin:0 auto;
    float:none;
}*/

.top-nav-bar li
{
    float: right;
    text-align: center;
    margin: 0 auto;
    margin-right: 10px;
    padding: .2em 1em;
    width: auto;
}

.top-nav-bar li:last-child
{
    border: none;
}


#submenu-slider-container
{
    width: 96.2%;
    height: 338px;
    margin: 0 auto;
}
#img-slider
{
    /*border:2px solid pink;*/
    width: 75.45%; /*width:75.3%;*/
  /*  height: 338px;
    background-image: linear-gradient(bottom, rgb(218,219,220) 5%, rgb(255,255,255) 50%);
    background-image: -o-linear-gradient(bottom, rgb(218,219,220) 5%, rgb(255,255,255) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(218,219,220) 5%, rgb(255,255,255) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(218,219,220) 5%, rgb(255,255,255) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(218,219,220) 5%, rgb(255,255,255) 50%);
    background-image: -webkit-gradient( 	linear, 	left bottom, 	left top, 	color-stop(0.05, rgb(218,219,220)), 	color-stop(0.5, rgb(255,255,255)) );
  */  float: left;
    margin-top: 5px;
}

#side-nav
{
    width: 21%;
    height: 100%;
    float: left;
    padding-left: 1em;
}

.text
{
    margin: 2em auto;
    text-decoration: none;
}
.side-nav-box
{
    margin-top: 5px;
    margin-bottom: .3em;
    height: 32.2%;
    background-color: #e2e3e4;
    -webkit-box-shadow: 2px 2px .1px 0px rgba(2, 2, 2, .75);
    box-shadow: 2px 2px .1px 0px rgba(2, 2, 2, .75);
}

.side-nav-box:first-child
{
    background: rgb(240,249,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(240,249,255,1) 0%, rgba(232,76,76,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,249,255,1)), color-stop(100%,rgba(232,76,76,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(232,76,76,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(232,76,76,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(232,76,76,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(240,249,255,1) 0%,rgba(232,76,76,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#e84c4c',GradientType=1 ); /* IE6-9 */
}

.second
{
    background: rgb(240,249,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(240,249,255,1) 0%, rgba(84,176,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,249,255,1)), color-stop(100%,rgba(84,176,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(84,176,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(84,176,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(84,176,221,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(240,249,255,1) 0%,rgba(84,176,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#54b0dd',GradientType=1 ); /* IE6-9 */
}

.third
{
    background: rgb(240,249,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(240,249,255,1) 0%, rgba(173,203,216,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,249,255,1)), color-stop(100%,rgba(173,203,216,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(173,203,216,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(173,203,216,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(240,249,255,1) 0%,rgba(173,203,216,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(240,249,255,1) 0%,rgba(173,203,216,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#adcbd8',GradientType=1 ); /* IE6-9 */
}

#bottom-container
{
    width: 96.7%;
    height: 544px;
}

#featured-news-container
{
    width: 28%;
    height: 384px; /*border:1px solid pink;*/
    float: left;
    margin: 1em;
    background: -moz-linear-gradient(top, rgba(163,214,224,0) 0%, rgba(163,214,224,0) 72%, rgba(163,214,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,214,224,0)), color-stop(72%,rgba(163,214,224,0)), color-stop(100%,rgba(163,214,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(163,214,224,0) 0%,rgba(163,214,224,0) 72%,rgba(163,214,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(163,214,224,0) 0%,rgba(163,214,224,0) 72%,rgba(163,214,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(163,214,224,0) 0%,rgba(163,214,224,0) 72%,rgba(163,214,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(163,214,224,0) 0%,rgba(163,214,224,0) 72%,rgba(163,214,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3d6e0', endColorstr='#a3d6e0',GradientType=0 ); /* IE6-9 */
}

#featured-news-container h1
{
    padding: .3em 0 .3em .7em;
    width: 97%;
    font-size: 1.2em;
    font-weight: bold;
    background-image: linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -o-linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -webkit-gradient( 	linear, 	left bottom, 	left top, 	color-stop(0, rgb(68,149,199)), 	color-stop(1, rgb(163,210,239)) );
}

#featured-news-container ul
{
    margin-left: -1.4em;
    color: #17345b;
}

#featured-news-container li
{
    padding-left: .7em;
    padding-right: .3em;
    margin-bottom: 1em;
    font-weight: bold;
}
#award-container
{
    width: 40%;
    margin: 1em;
    height: 440px; /*border:1px dotted green;*/
    float: left;
    border:1px solid black;
}

#award-container h1
{
    width:70%;
    margin: 0 auto;
    font-size: 2em;
    color: Maroon;
    margin-top: .3em;
    margin-bottom: .1em;
    text-align:center;
}

.award-text
{
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    padding-top:0em;
}
#main-quick-links
{
    width: 20%;
    height: 440px;
    float: left;
}

.images
{
    max-width: 35%;
}


img
{
    height: auto;
    max-width: 100%;
}

.mobilemenu
{
    display: none;
}

#main-container
{
    width: 64%;
    margin: 1em;
    height: 440px; /*border:1px dotted green;*/
    float: left;
}

#main-container h1
{
    /*margin: 0 auto;*/
    font-size: 2.1em;
    color: Maroon;
    margin-top: .3em;
    margin-bottom: .3em;
    text-align: center;
}

#link-container
{
    width: 20%;
    height: 384px; /*border:1px solid pink;*/
    float: left;
    margin: 1em;
    background: #b0dce4;
}

#link-container h1
{
    padding: .3em 0 .3em .7em;
    width: 95%;
    font-size: 1.2em;
    font-weight: bold;
    background-image: linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -o-linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(68,149,199) 0%, rgb(163,210,239) 100%);
    background-image: -webkit-gradient( 	linear, 	left bottom, 	left top, 	color-stop(0, rgb(68,149,199)), 	color-stop(1, rgb(163,210,239)) );
}

.subMain h1 
{
     font-size: 2.1em;
    color: Maroon;
    margin-top: .3em;
    margin-bottom: .3em;
    text-align: center;
    
}
.subMain 
{
    margin:1em;
       width: 100%;
      
       min-height:500px;
      
}

.subContent
{
   
    width:76%;
    float:left;
}
/* MEDIA SCREENS BELOW*/

@media only screen and (min-width: 768px) and (max-width: 959px)
{
    .img-logo
    {
        width: auto;
    }
    
    #container
    {
        width: 92%;
    }

    #header-text-container
    {
        font-size: 80%;
        width: 56%;
        
    }

    .hospital-header
    {
        font-size: 300%;
    }

    #header-right
    {
        width: 24%;
        margin: 0 auto;
        padding: 0px;
    }

    .top-nav-bar
    {
        /*margin-left:5em;*/
        font-size: 0.85em;
        padding-top: 5px;
    }
    
    #top-nav-bar
    {
        top:-2em;
        position:relative;
        width:100%;
    }

    .top-nav-bar li
    {
        width: auto;
    }

    .images
    {
        width: 11%;
    }
    
    #submenu-slider-container
    {
        top:-2em;
        position:relative;
    }


    #award-container 
    {
        height:auto;
    }
    
    .subMain 
    {
        width:auto;
        
        padding:0;
        margin:0;
    }
    
    #link-container
    {
        width:20%;
    }
}


@media screen and (max-width: 767px)
{
        .img-logo
    {
        width:20%;
    }
    body
    {
        font-size: 12px;
        width: auto;
    }
    
    #container
    {
        width: 98%;
    }
    #submenu-slider-container
    {
        width: 95%;
        top:-1em;
        padding-bottom:0px;
        position:relative;
    }

    #header-text-container
    {
        font-size: .75em;
        height: auto;
        border: 1px solid black;
        width:50%;
    }
    
    .subMain 
    {
      width: auto;  
    }

    /*#header-right
            	{
            	 width:24%;
            	
            	    margin:0 auto;
            	    padding:0px;
            	}*/
    #header-right
    {
        clear:both;
        padding: 0;
        margin: 0;
        float:right;
        position:relative;
        /*z-index:-1; Joel: commented this out because it hinders input from being entered and the button from being clicked on chrome and firefox*/
        top:-2em;
        border:1px solid green;
    }

    .top-nav-bar
    {
        margin-top:0;
        margin-left: .3em;
        font-size: 0.86em;
        border:1px solid green;
    }

    .top-nav-bar li
    {
        width: auto;
        padding: .8em;
        
    }

    #top-nav-bar 
    {
      
        margin:0;
        padding:0;
        top:-1em;
        position:relative;
    }
    .images
    {
        width: 10%;
    }

#link-container 
{
}

}



@media screen and (min-width:481px) and (max-width:639px)
{
    #container
    {
        width: 99%;
    }
    
#link-container
    {
    
    }
    #maxcontainer
    {
        width: 100%;
    }

    #submenu-slider-container
    {
        width: 94%;
    }

    #header-text-container
    {
        margin-top: 1.5em;
        font-size: .75em;
        height: 100%;
        border: 1px dotted blue;
        margin-bottom:.3em;
    }

    .header-text-container
    {
        width: 200%;
       
    }
    
    .img-logo
    {
      
    }

    .mobilemenu
    {
        
        display: block;
        width: 100%;
        height: 1.67em;
        font-size: 1.4em;
        text-align: center;
        
        background: #509cca;
    }

    #top-nav-bar
    {
        background: none;
        top:0;
        margin:0;
        padding:0;
        position:relative;
        
    }
    .top-nav-bar
    {
        top:0;
        display: none;

    }
    #header-right
    {
        display: none;
        overflow: hidden; /*    font-size: .6em;         max-width: 20%;*/
        top:0;
        margin:0;
        padding:0;

        
    }

    .search-bar
    {
        width: 70%;
        height: 50%;
    }

    .search-button
    {
        width: 40%;
    }
    /*  .top-nav-bar
        {
            margin-left: .3em;
            font-size: .98em;
        }

        .top-nav-bar li
        {
            width: auto;
        }*/

    .images
    {
        width: 10%;
    }




}


@media screen and (max-width: 480px)
{
    .mobilemenu
    {
        display: block;
    }
    #container
    {
        width: 100%;
    }
    #submenu-slider-container
    {
        width: 90%;
    }
   
    .subMain 
    {
        
        width:auto;
    }
    
   
    #side-nav
    {
        padding-left: .8em;
    }

    #header-right
    {
        display: none;
    }
    .header-text-container
    {
        width: 130%;
    }

    #header-text-container
    {
        font-size: .6em;
    }
    #top-nav-bar
    {
        background: none;
        top:0;
    }
    .img-logo
    {
       
    }
    .top-nav-bar
    {
        display: none;
    }

    .mobilemenu
    {
        display: block;
        width: 100%;
        height: 1.67em;
        font-size: 1.4em;
        text-align: center;
        background: #509cca;
    }

    #img-slider
    {
        display: none;
    }

    #featured-news-container
    {
    }
    #side-nav
    {
        float: right;
        width: 30%;
    }
    #side-nav-box
    {
        width: 120%;
    }

}





/*Footer style*/



#footer {}

#logo_f {  
    /*border:dashed 2px red;*/
     width:300px; 
     height:100px; 
     float:left;  
}
.logo_ft {
    float:left;
    padding-right:1.000em;
}


.phone_ft {display:block; }
.address_ft {}


#icons_f {
float:right;
margin-top:5%;
margin-right:3%;
text-align:right;
/*border:solid 2px black;*/

}

.nav_f {
    clear:both;
padding-left:64%;
text-align:left;
font:bold;
height:20px;
font-size:small;
background-color:rgb(219,220,221);
box-shadow: 10px 10px 5px #888;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
   

}


#copy_ft {
    text-align:center;
    font-size:x-small;

}
 



/*.mobilemenu {
	display: none;
}
.mobilemenu {
	position: relative;
	z-index: 30;
	margin: 0px 10px 20px 10px;
	padding-top: 5px;
}
.mobilemenu div {
	font-size: 1.571em; /* 22px 
	padding: 0px 16px;
	overflow: hidden;
	position: relative;
	color: #1C140D;
	text-align: center;
	font-weight: bold;
}
.mobilemenu select {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
 @media only screen and (max-width: 767px) {
.menu {
	display: none;
}
.mobilemenu {
	display: block;
}
nav {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
}
 @media only screen and (max-width: 479px) {
.menu {
	display: none;
}
.mobilemenu {
	display: block;
}
nav {
	height: 100%;
}
}*/



